:root {
   --clr-neon: hsl(317 100% 54%);
   --clr-bg: hsl(323 21% 16%);
}

html {
   box-sizing: border-box;
}

*, *::before, *::after{
   box-sizing: inherit;
}


body {
   margin: 0;
   padding: 0;
   background-color: var(--clr-bg)
}

#content {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   justify-content: flex-start;
}

@font-face {
   font-family: 'MyFont';
   src: url('./Allerta-Regular.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

 header {
   background-color: black;
   width: 100%;
   color: white;
   font-family: 'MyFont';
   text-align: center;
 }

 nav {
   display: grid;
   width: 100%;
   grid-template-columns: repeat(3,1fr);
   text-align: center;
   font-family: 'MyFont';
   cursor: pointer;
 }

 .home {
   padding: 1em;
 }

button {
   padding: 1rem;
   font-size: 1.2em;
   cursor: pointer;
   color: var(--clr-neon);
   background-color: var(--clr-bg);
   border: var(--clr-neon) 0.125em solid;
   padding: .25em 1em;
   border-radius: 0.25em;
   text-shadow: 
   0 0 0.25em hsl(0 0% 100% / 0.2), 
   0 0 0.45em currentColor;

   box-shadow: inset 0 0 0.5em 0 var(--clr-neon),
   0 0 0.5em 0 var(--clr-neon);

}

button:hover, 
button:focus {
   background: var(--clr-neon);
   color: var(--clr-bg);
   text-shadow: none;
}

 main {
   position: relative;
   background-image: url('https://images.unsplash.com/photo-1513491714241-33805f8ff175?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
   background-size: cover;
   min-height: 100vh;
   background-position: 50%, 50%;
 }

 .overlay {
   background: rgba(0,0,0,0.5);
   color: white;
   min-height: 100vh;
   padding: 2em;

}

.menuheader {
   font-family: 'MyFont';
}

 .menulist {
   display: grid;
   text-align: center;
   align-content: center;
   justify-content: center;
   grid-gap: 20px;
 }

.contacter {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

 footer {
   background-color: black;
   color: white;
   padding: 1em;
   font-family: 'MyFont';
   margin-top: auto;
 }

 .about {
   text-align: center;
 }

 .credit {
   text-align: center;
 }

 .contact {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 1em;
 }

